<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/styles.css">
    <title>Document</title>
  </head>
  <body>
    <h1>Table of Products</h1>
    <table>
      <tr>
        <th>Id</th>
        <th>Nombre</th>
        <th>Precio</th>
        <th>Foto</th>
      </tr>
      <% for( let i = 0; i < 5 ; i++ ) { %>
      <tr>
        <td><%= idCarritos[i] %></td>
        <td><%= nombreCarritos[i] %></td>
        <td><%= precioCarritos[i] %></td>
        <td><%= fotoCarritos[i] %></td>
      </tr>
      <% } %>
    </table>
  </body>
</html>
